.unset {
    all: unset;
}
.text-primary {
    color: $primaryColor;
}
.btn-primary {
    background-color: $primaryColor !important; /* Sets the background to red */
    border-color: $primaryColor !important; /* Sets the border color to match */
}

.btn-secondary {
    background-color: #F6F6F6 !important;
    border-color: #F6F6F6 !important;
    color: #000;
    &:hover {
        color: #000;
    }
}

.text-grey-500 {
    color: #696F79;
}

.white-space-nowrap {
    white-space: nowrap;
}

.text-grey-300 {
    color: #C3C5C8;
}

.text-grey-800 {
    color: #333;
}

.bg-gray-50 {
    background-color: #F6F6F6;
}

.radius-15 {
    border-radius: 15px;
}

.bg-warning {
    background-color: $warningColor !important;
}

.text-grey-400 {
    color: #8692A6;
}

.font-400 {
    font-weight: 400;
}