@import './variables.scss';
@import './global.scss';
@import './components/navbar.scss';
@import './components/aside.scss';
@import './components/breadcrumb.scss';
@import './pages/home.scss';

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    background-color: #f0f0f0;
}

