.aside {
    .box {
        box-shadow: 0px 3px 40px -5px #20202012;
        background-color: #FFF;
        border-radius: 8px;
        .box-title {
            font-size: 16px;
            color: black;
            font-weight: 600;
        }
        .location { 
            color: #8692A6;
            font-weight: 400;
        }

        .rate {
            color: #555;
        }
        p {
            font-weight: 500;
        }
    }
}