<div class="aside">

    <div class="box seller-box p-4 mb-4">
        <h2 class="m-0 box-title">Seller</h2>
        <div class="d-flex flex-column gap-2">
            <div class="d-flex justify-content-center">
                <img src="assets/svg/seller_avatar.svg" />
            </div>

            <div class="d-flex gap-2 justify-content-center align-items-center">
                <h3 class="m-0 box-title">Jane Smith</h3>
                <img src="assets/svg/SealCheck.svg" alt="Jane Smith" title="Saller Avatar" />
            </div>

            <div class="d-flex gap-2 location justify-content-center">
                <img src="assets/svg/location_icn.svg" />
                <div>Cairo, Egypt</div>
            </div>

            <div class="rate d-flex gap-2 justify-content-center">
                <div>
                    <img src="assets/svg/star.svg" />
                    <img src="assets/svg/star.svg" />
                    <img src="assets/svg/star.svg" />
                    <img src="assets/svg/empty_star.svg" />
                </div>
                <div>
                    4.1 (500)
                </div>
            </div>

            <div class="d-flex gap-3 justify-content-center">
                <img src="assets/svg/medal_icn.svg" />
                <img src="assets/svg/SignIn.svg" />
                <img src="assets/svg/user_details_icn.svg" />
            </div>

            <p class="my-2 ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
                Lorem ipsum dolor sit amet..
            </p>

            <button class="btn btn-primary mb-3">
                Contact Me
            </button>
        </div>
    </div>

    <div class="box  p-4 mb-4">
        <h2 class="mb-2 box-title">Info</h2>
        <div class="d-flex flex-column gap-2 info-text">
            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                    <img src="assets/svg/CurrencyCircleDollar.svg" />
                    <div>Price</div>
                </div>
                <div>
                    $10
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                    <img src="assets/svg/Clock.svg" />
                    <div>Delivery Duration</div>
                </div>
                <div>
                    1 Day
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                    <img src="assets/svg/Basket.svg" />
                    <div>In Progress Orders</div>
                </div>
                <div>
                    2
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                    <img src="assets/svg/Users.svg" />
                    <div>Customers</div>
                </div>
                <div>
                    2
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                    <img src="assets/svg/Percent.svg" />
                    <div>Sales</div>
                </div>
                <div>
                    $25
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                    <img src="assets/svg/ListDashes.svg" />
                    <div>Category</div>
                </div>
                <div>
                    Design
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                    <img src="assets/svg/ListDashes.svg" />
                    <div>Subcategory</div>
                </div>
                <div>
                    Logo Design
                </div>
            </div>
        </div>
    </div>

    <div class="box p-4 mb-4">
        <h2 class="m-0 box-title">Share & Earn</h2>
        <div class="d-flex justify-content-between mt-3">
            <a href="#">
                <img src="assets/svg/linkedin.svg"/>
            </a>
            <a href="#">
                <img src="assets/svg/facebook.svg"/>
            </a href="#">
            <a href="#">
                <img src="assets/svg/whatsapp.svg"/>
            </a>
            <a href="#">
                <img src="assets/svg/twitter.svg"/>
            </a>
            <button class="unset">
                <img src="assets/svg/copy.svg"/>
            </button>
            
        </div>
    </div>

    <div class="box  transparent mb-4 bg-transparent">
        <div class="d-flex justify-content-between">
            <h2 class="m-0 box-title">Seller Other Services</h2>
            <a href="#">see more</a>
        </div>
    </div>



</div>