<div class="suggested-services">
    <div class="d-flex  justify-content-between mt-4 mt-sm-5 mb-3 mb-sm-3">
        <h2 class="font-600 title">Suggested Services</h2>
        <a class=" font-500 text-grey-300  text-decoration-none" href="#">see more</a>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3">
            <article class="card white-box" >
                <div class="img-container">
                    <img class="card-img-top" src="assets/images/slider_img.png" loading="lazy" alt="Card image cap">
                    <button class=" unset like-container">
                        <img src="assets/svg/Heart.svg"/>
                    </button>
                </div>
                <div class="card-body py-3 px-2">
                    <h2 class="font-600">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit... 
                    </h2>
                    <div class="d-flex gap-2">
                        <img src="assets/svg/star.svg" loading="lazy"/>
                        <div class="font-500 text-grey-400">4.9</div>
                        <img src="assets/svg/ShoppingCartSimple.svg" loading="lazy"/>
                        <div class="font-500 text-grey-400">300</div>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <div class="d-flex  gap-2 align-items-center">
                            <div class="profile-img">
                                <img src="assets/images/img_seller.jpg" alt="img" loading="lazy">
                            </div>
                            <div class="text-size-12 font-600">
                                Sarah Smith
                            </div>
                        </div>
                        <div class="d-flex justify-content-between  gap-2 align-items-center">
                            <div>
                                <img src="assets/svg/Tag.svg" loading="lazy" width="22">
                            </div>
                            <div class="text-size-16 font-600">
                                $10
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </div>
        <div class="col-sm-3">
            <article class="card white-box" >
                <div class="img-container">
                    <img class="card-img-top" src="assets/images/slider_img.png" loading="lazy" alt="Card image cap">
                    <button class=" unset like-container">
                        <img src="assets/svg/Heart.svg"/>
                    </button>
                </div>
                <div class="card-body py-3 px-2">
                    <h2 class="font-600">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit... 
                    </h2>
                    <div class="d-flex gap-2">
                        <img src="assets/svg/star.svg" loading="lazy"/>
                        <div class="font-500 text-grey-400">4.9</div>
                        <img src="assets/svg/ShoppingCartSimple.svg" loading="lazy"/>
                        <div class="font-500 text-grey-400">300</div>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <div class="d-flex  gap-2 align-items-center">
                            <div class="profile-img">
                                <img src="assets/images/img_seller.jpg" alt="img" loading="lazy">
                            </div>
                            <div class="text-size-12 font-600">
                                Sarah Smith
                            </div>
                        </div>
                        <div class="d-flex justify-content-between  gap-2 align-items-center">
                            <div>
                                <img src="assets/svg/Tag.svg" loading="lazy" width="22">
                            </div>
                            <div class="text-size-16 font-600">
                                $10
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </div>
        <div class="col-sm-3">
            <article class="card white-box" >
                <div class="img-container">
                    <img class="card-img-top" src="assets/images/slider_img.png" loading="lazy" alt="Card image cap">
                    <button class=" unset like-container">
                        <img src="assets/svg/Heart.svg"/>
                    </button>
                </div>
                <div class="card-body py-3 px-2">
                    <h2 class="font-600">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit... 
                    </h2>
                    <div class="d-flex gap-2">
                        <img src="assets/svg/star.svg" loading="lazy"/>
                        <div class="font-500 text-grey-400">4.9</div>
                        <img src="assets/svg/ShoppingCartSimple.svg" loading="lazy"/>
                        <div class="font-500 text-grey-400">300</div>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <div class="d-flex  gap-2 align-items-center">
                            <div class="profile-img">
                                <img src="assets/images/img_seller.jpg" alt="img" loading="lazy">
                            </div>
                            <div class="text-size-12 font-600">
                                Sarah Smith
                            </div>
                        </div>
                        <div class="d-flex justify-content-between  gap-2 align-items-center">
                            <div>
                                <img src="assets/svg/Tag.svg" loading="lazy" width="22">
                            </div>
                            <div class="text-size-16 font-600">
                                $10
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </div>
        <div class="col-sm-3">
            <article class="card white-box" >
                <div class="img-container">
                    <img class="card-img-top" src="assets/images/slider_img.png" loading="lazy" alt="Card image cap">
                    <button class=" unset like-container">
                        <img src="assets/svg/Heart_red.svg"/>
                    </button>
                </div>
                <div class="card-body py-3 px-2">
                    <h2 class="font-600">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit... 
                    </h2>
                    <div class="d-flex gap-2">
                        <img src="assets/svg/star.svg" loading="lazy"/>
                        <div class="font-500 text-grey-400">4.9</div>
                        <img src="assets/svg/ShoppingCartSimple.svg" loading="lazy"/>
                        <div class="font-500 text-grey-400">300</div>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <div class="d-flex  gap-2 align-items-center">
                            <div class="profile-img">
                                <img src="assets/images/img_seller.jpg" alt="img" loading="lazy">
                            </div>
                            <div class="text-size-12 font-600">
                                Sarah Smith
                            </div>
                        </div>
                        <div class="d-flex justify-content-between  gap-2 align-items-center">
                            <div>
                                <img src="assets/svg/Tag.svg" loading="lazy" width="22">
                            </div>
                            <div class="text-size-16 font-600">
                                $10
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </div>
    </div>

</div>