.unset {
  all: unset;
}

.text-primary {
  color: #1DBF73;
}

.btn-primary {
  background-color: #1DBF73 !important; /* Sets the background to red */
  border-color: #1DBF73 !important; /* Sets the border color to match */
}

.text-grey-500 {
  color: #696F79;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-grey-300 {
  color: #C3C5C8;
}

.text-grey-800 {
  color: #333;
}

.navbar {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.navbar .avatar-container {
  height: 43px;
  width: 43px;
}
.navbar .avatar-container img {
  border: 2px solid #1DBF73;
  border-radius: 50%;
}
.navbar .navbar-nav {
  gap: 24px;
}
@media (max-width: 576px) {
  .navbar .navbar-nav {
    gap: 0px;
    padding-top: 1rem;
  }
}
.navbar .nav-item a {
  color: #C3C5C8 !important;
  font-weight: 500;
}
.navbar .nav-item a.active {
  color: #1DBF73 !important;
  font-weight: 600;
}
.navbar .nav-item a .icon-container {
  height: 25px;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .navbar .nav-item a {
    display: flex;
  }
}

.aside .box {
  box-shadow: 0px 3px 40px -5px rgba(32, 32, 32, 0.0705882353);
  background-color: #FFF;
  border-radius: 8px;
}
.aside .box .img-seller {
  position: relative;
  width: 45px;
  margin: auto;
}
.aside .box .img-seller img {
  max-width: 100%;
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.aside .box .img-seller .isActive {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #1DBF73;
  border-radius: 50%;
  bottom: 1px;
  right: 1px;
  border: 1px solid #FFF;
}
.aside .box .box-title {
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.aside .box .location {
  color: #8692A6;
  font-weight: 400;
}
.aside .box .rate {
  color: #555;
}
.aside .box p {
  font-weight: 500;
}
.aside .box .info-text {
  white-space: nowrap;
  font-weight: 500;
}
.aside .box.transparent {
  box-shadow: none !important;
  background-color: transparent !important;
}
.aside .box.transparent a {
  color: #C3C5C8;
  text-decoration: none;
}
.aside .box.transparent .card {
  border: none;
  background-color: #FFF;
  border-radius: 15px;
}
.aside .box.transparent .card .card-img {
  height: 100%;
  object-fit: cover;
}
.aside .box.transparent .card .card-title {
  font-weight: 600;
  font-size: 14px;
  color: #1E1E1E;
}
.aside .box.transparent .card .card-body {
  font-size: 13px;
}

.breadcrumb {
  color: #8692A6;
  font-size: 18px;
}
.breadcrumb .breadcrumb-item::before {
  color: #8692A6 !important;
}

.home-page h1 {
  font-size: 24px;
  font-weight: 600;
}
.home-page .carousel .carousel-control-prev {
  transform: translateX(-76px);
  opacity: 1;
}
.home-page .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-color: #FFF;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px 1px rgba(32, 32, 32, 0.0509803922);
}
.home-page .carousel .carousel-control-prev .carousel-control-prev-icon img {
  transform: rotateZ(180deg);
}
.home-page .carousel .carousel-control-next {
  transform: translateX(76px);
  opacity: 1;
}
.home-page .carousel .carousel-control-next .carousel-control-next-icon {
  background-color: #FFF;
  opacity: 1;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px 1px rgba(32, 32, 32, 0.0509803922);
}
.home-page h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.home-page .description {
  background-color: #FFF;
  border-radius: 15px;
}
.home-page .add-ons-card {
  background-color: #FFF;
  box-shadow: 0px 3px 40px -5px rgba(32, 32, 32, 0.0705882353);
  border-radius: 15px;
}
.home-page .add-ons-card p {
  font-size: 16px;
  font-weight: 500;
}
.home-page .add-ons-card .money-button,
.home-page .add-ons-card .time-button {
  all: unset;
  background-color: #E9F9F1;
  color: #1DBF73 !important;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}
.home-page .add-ons-card .round {
  position: relative;
  width: 55px;
}
.home-page .add-ons-card .round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}
.home-page .add-ons-card .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}
.home-page .add-ons-card .round input[type=checkbox] {
  visibility: hidden;
}
.home-page .add-ons-card .round input[type=checkbox]:checked + label {
  background-color: #1DBF73;
  border-color: #1DBF73;
}
.home-page .add-ons-card .round input[type=checkbox]:checked + label:after {
  opacity: 1;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  background-color: #f0f0f0;
}

/*# sourceMappingURL=style.css.map */
