.unset {
  all: unset;
}

.text-primary {
  color: #1DBF73;
}

.btn-primary {
  background-color: #1DBF73 !important; /* Sets the background to red */
  border-color: #1DBF73 !important; /* Sets the border color to match */
}

.btn-secondary {
  background-color: #F6F6F6 !important;
  border-color: #F6F6F6 !important;
  color: #000;
}
.btn-secondary:hover {
  color: #000;
}

.text-grey-500 {
  color: #696F79;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-grey-300 {
  color: #C3C5C8;
}

.text-grey-800 {
  color: #333;
}

.bg-gray-50 {
  background-color: #F6F6F6;
}

.radius-15 {
  border-radius: 15px;
}

.bg-warning {
  background-color: #FFCB31 !important;
}

.text-grey-400 {
  color: #8692A6;
}

.font-400 {
  font-weight: 400;
}

.font-700 {
  font-weight: 700;
}

.font-500 {
  font-weight: 500;
}

.text-danger {
  color: #F56342 !important;
}

.text-decoration-none {
  text-decoration: none;
}

.navbar {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 576px) {
  .navbar .logo-container img {
    width: 100px;
  }
}
.navbar .avatar-container {
  height: 43px;
  width: 43px;
}
.navbar .avatar-container img.avatar {
  border: 2px solid #1DBF73;
  border-radius: 50%;
}
.navbar .avatar-container hr {
  border-color: #F6F6F6;
  margin: 0;
}
.navbar .avatar-container .form-check-input:checked {
  background-color: #1DBF73;
  border-color: #1DBF73;
}
.navbar .avatar-container .form-check-input {
  box-shadow: none;
}
.navbar .avatar-container .font-cairo {
  font-family: "Cairo";
}
@media (max-width: 576px) {
  .navbar .nav-icons-container > button:nth-child(1) {
    order: 2;
  }
  .navbar .nav-icons-container > button:nth-child(2) {
    order: 3;
  }
}
.navbar .navbar-nav {
  gap: 24px;
}
@media (max-width: 576px) {
  .navbar .navbar-nav {
    gap: 0px;
    padding-top: 1rem;
  }
}
.navbar .nav-item a {
  color: #C3C5C8 !important;
  font-weight: 500;
}
.navbar .nav-item a.active {
  color: #1DBF73 !important;
  font-weight: 600;
}
.navbar .nav-item a .icon-container {
  height: 25px;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .navbar .nav-item a {
    display: flex;
  }
}
.navbar .dropdown-menu {
  left: -270px;
  width: 320px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
}
.navbar .dropdown-menu .profile-description {
  font-size: 12px;
}
@media (max-width: 576px) {
  .navbar .dropdown-menu {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
  }
}

.aside .box {
  box-shadow: 0px 3px 40px -5px rgba(32, 32, 32, 0.0705882353);
  background-color: #FFF;
  border-radius: 8px;
}
.aside .box .img-seller {
  position: relative;
  width: 45px;
  margin: auto;
}
.aside .box .img-seller img {
  max-width: 100%;
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.aside .box .img-seller .isActive {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #1DBF73;
  border-radius: 50%;
  bottom: 1px;
  right: 1px;
  border: 1px solid #FFF;
}
.aside .box .box-title {
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.aside .box .location {
  color: #8692A6;
  font-weight: 400;
}
.aside .box .rate {
  color: #555;
}
.aside .box p {
  font-weight: 500;
}
.aside .box .info-text {
  white-space: nowrap;
  font-weight: 500;
}
.aside .box.transparent {
  box-shadow: none !important;
  background-color: transparent !important;
}
.aside .box.transparent a {
  color: #C3C5C8;
  text-decoration: none;
}
.aside .box.transparent .card {
  border: none;
  background-color: #FFF;
  border-radius: 15px;
}
.aside .box.transparent .card .card-img {
  height: 100%;
  object-fit: cover;
}
.aside .box.transparent .card .card-title {
  font-weight: 600;
  font-size: 14px;
  color: #1E1E1E;
}
.aside .box.transparent .card .card-body {
  font-size: 13px;
}
@media (max-width: 576px) {
  .aside .box.transparent .card {
    border-radius: 0;
  }
}

.breadcrumb {
  color: #8692A6;
  font-size: 18px;
}
@media (max-width: 576px) {
  .breadcrumb {
    font-size: 14px;
  }
}
.breadcrumb .breadcrumb-item::before {
  color: #8692A6 !important;
}

.home-page h1 {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .home-page h1 {
    font-size: 20px;
  }
}
.home-page .carousel .carousel-control-prev {
  transform: translateX(-76px);
  opacity: 1;
}
@media (max-width: 576px) {
  .home-page .carousel .carousel-control-prev {
    transform: translate(0);
  }
}
.home-page .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-color: #FFF;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px 1px rgba(32, 32, 32, 0.0509803922);
}
.home-page .carousel .carousel-control-prev .carousel-control-prev-icon img {
  transform: rotateZ(180deg);
}
@media (max-width: 576px) {
  .home-page .carousel .carousel-control-prev .carousel-control-prev-icon {
    height: 25px;
    width: 25px;
  }
  .home-page .carousel .carousel-control-prev .carousel-control-prev-icon img {
    width: 10px;
  }
}
.home-page .carousel .carousel-control-next {
  transform: translateX(76px);
  opacity: 1;
}
@media (max-width: 576px) {
  .home-page .carousel .carousel-control-next {
    transform: translate(0);
  }
}
.home-page .carousel .carousel-control-next .carousel-control-next-icon {
  background-color: #FFF;
  opacity: 1;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px 1px rgba(32, 32, 32, 0.0509803922);
}
@media (max-width: 576px) {
  .home-page .carousel .carousel-control-next .carousel-control-next-icon {
    height: 25px;
    width: 25px;
  }
  .home-page .carousel .carousel-control-next .carousel-control-next-icon img {
    width: 10px;
  }
}
.home-page h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
@media (max-width: 576px) {
  .home-page h2 {
    font-size: 18px;
  }
}
.home-page .description {
  background-color: #FFF;
  border-radius: 15px;
  font-size: 16px;
}
@media (max-width: 576px) {
  .home-page .description {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .home-page .add-ons button {
    font-size: 14px;
  }
  .home-page .add-ons button img {
    width: 16px;
  }
}
.home-page .add-ons-card {
  background-color: #FFF;
  box-shadow: 0px 3px 40px -5px rgba(32, 32, 32, 0.0705882353);
  border-radius: 15px;
}
.home-page .add-ons-card .p {
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 576px) {
  .home-page .add-ons-card .p {
    font-size: 14px;
  }
}
.home-page .add-ons-card .money-button,
.home-page .add-ons-card .time-button {
  all: unset;
  background-color: #E9F9F1;
  color: #1DBF73 !important;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .home-page .add-ons-card .money-button,
  .home-page .add-ons-card .time-button {
    font-size: 14px;
    margin-top: 14px;
  }
}
.home-page .add-ons-card .round {
  position: relative;
  width: 55px;
}
.home-page .add-ons-card .round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}
.home-page .add-ons-card .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}
.home-page .add-ons-card .round input[type=checkbox] {
  visibility: hidden;
}
.home-page .add-ons-card .round input[type=checkbox]:checked + label {
  background-color: #1DBF73;
  border-color: #1DBF73;
}
.home-page .add-ons-card .round input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.home-page .purchase-box {
  border-radius: 15px;
}
.home-page .purchase-box .btn {
  min-width: 185px;
  min-height: 44px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .home-page .purchase-box .btn {
    min-width: 100px;
  }
}
.home-page .calculator-container {
  width: 200px;
}
.home-page .calculator-container button {
  all: unset;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0px 2px 3px 0px rgba(186, 181, 181, 0.2);
  text-align: center;
  cursor: pointer;
  background-color: #FFF;
}
.home-page .gery-box {
  border-radius: 8px;
}
.home-page .rate-preogress {
  font-size: 16px;
  color: #000;
  background-color: #FFF;
}
.home-page .progress-container {
  width: 320px;
}
.home-page .progress-container .progress {
  height: 8px;
}
.home-page .comments-container .comment .img-container img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
}
.home-page .comments-container .comment .name {
  font-weight: 700;
  color: #000;
}
@media (max-width: 576px) {
  .home-page .comments-container .comment {
    font-size: 14px;
  }
}
.home-page .comments-container textarea {
  width: 100% !important;
  resize: none;
  border-radius: 8px;
}
.home-page .comments-container textarea:focus {
  box-shadow: none;
  border-color: #1DBF73;
}
.home-page .comments-container .btn {
  min-width: 185px;
  border-radius: 8px;
  min-height: 48px;
  font-size: 16px;
}

.suggested-services h2 {
  font-size: 24px;
  color: #000;
}
@media (max-width: 576px) {
  .suggested-services h2 {
    font-size: 18px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  background-color: #f0f0f0;
}

.wrapper {
  margin-top: 140px;
}
@media (max-width: 576px) {
  .wrapper {
    margin-top: 80px;
  }
}

@media (max-width: 576px) {
  .white-box {
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
