<nav class=" navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <div class="logo-container">
                <img src="assets/svg/main-logo.svg" />
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-center" href="#">
                        <div class="icon-container me-2 me-sm-0">
                            <img src="assets/svg/auctions.svg" />
                        </div>
                        <div>
                            Auctions
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <div class="icon-container me-2 me-sm-0">
                            <img src="assets/svg/contests.svg" />
                        </div>
                        <div>
                            Contests
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <div class="icon-container me-2 me-sm-0">
                            <img src="assets/svg/project.svg" />
                        </div>
                        <div>
                            Project
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <div class="icon-container me-2 me-sm-0">
                            <img src="assets/svg/portfolios.svg" />
                        </div>
                        <div>
                            Portfolios
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <div class="icon-container me-2 me-sm-0">
                            <img src="assets/svg/freelancers.svg" />
                        </div>
                        <div>
                            Freelancers
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <div class="icon-container me-2 me-sm-0">
                            <img src="assets/svg/forum.svg" />
                        </div>
                        <div>
                            Forum
                        </div>
                    </a>
                </li>
            </ul>
            <div class="d-flex nav-icons-container">
                <button class="unset mx-2">
                    <img src="assets/svg/comment_icn.svg" />
                </button>
                <button class="unset mx-2">
                    <img src="assets/svg/bell_icn.svg" />
                </button>
                <div class="avatar-container dropdown ms-2">
                    <button class="unset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <img src="assets/svg/nav_avatar.svg" class="avatar" />
                    </button>

                    <ul class="dropdown-menu ">
                        <li>
                            <div class="d-flex gap-2 px-2 dropdown-item py-2">
                                <div class=" img-container">
                                    <img src="assets/svg/profile_setting_avatar.svg" loading="lazy" />
                                </div>
                                <div>
                                    <div class=" font-700">Ahmed Ali</div>
                                    <div class="profile-description text-grey-400">Student</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex gap-2 py-2" href="#">
                                <div>
                                    <img src="assets/svg/UserCircle.svg" />
                                </div>
                                <div class="text-grey-500 font-500">
                                    My Profile
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex gap-2 py-2" href="#">
                                <div>
                                    <img src="assets/svg/Moon.svg" />
                                </div>
                                <label  for="flexSwitchCheckChecked" class="text-grey-500 font-500 d-flex justify-content-between w-100">
                                    <div>
                                        Dark Mode
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckChecked" checked>
                                    </div>
                                </label>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex gap-2 py-2" href="#">
                                <div>
                                    <img src="assets/svg/Translate.svg" />
                                </div>
                                <div class="d-flex justify-content-between w-100">
                                    <div class="text-grey-500 font-500">Language</div>
                                    <div class="d-flex gap-2">
                                        <div class="font-cairo">العربية</div>
                                        <img src="assets/svg/line.svg"/>
                                        <img src="assets/svg/ar_flag.svg"/>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex gap-2 py-2" href="#">
                                <div>
                                    <img src="assets/svg/GearSix.svg" />
                                </div>
                                <div class="text-grey-500 font-500">
                                    Account Settings
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex gap-2 py-2 " href="#">
                                <div>
                                    <img src="assets/svg/SignOut.svg" />
                                </div>
                                <div class="text-grey-500 font-500 text-danger">
                                    Logout
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>