.aside {
    .box {
        box-shadow: 0px 3px 40px -5px #20202012;
        background-color: #FFF;
        border-radius: 8px;
        .img-seller {
            position: relative;
            width: 45px;
            margin: auto;
            img {
                max-width: 100%;
                object-fit: cover;
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            .isActive {
                position:absolute;
                height: 10px;
                width: 10px;
                background-color: $primaryColor;
                border-radius: 50%;
                bottom: 1px;
                right: 1px;
                border: 1px solid #FFF;
            }

        }
        .box-title {
            font-size: 16px;
            color: black;
            font-weight: 600;
        }
        .location { 
            color: #8692A6;
            font-weight: 400;
        }

        .rate {
            color: #555;
        }
        p {
            font-weight: 500;
        }
        .info-text {
            white-space: nowrap;
            font-weight: 500;
        }
        &.transparent {
            box-shadow: none !important;
            background-color: transparent !important;
            a {
                color: #C3C5C8;
                text-decoration: none;
            }
            .card {
                border: none;
                background-color: #FFF;
                border-radius: 15px;
                box-shadow: 0px 3px 40px -5px #20202012;

                .card-img {
                    height: 100%;
                    object-fit: cover;
                }
                .card-title {
                    font-weight: 600;
                    font-size: 14px;
                    color: #1E1E1E;
                }
                .card-body {
                    font-size: 13px;
                }
                @media (max-width: 576px) {
                    border-radius: 0;
                }
            }
        }
    }
}