.home-page {
    h1 {
        font-size: 24px;
        font-weight: 600;
    }
    .carousel {
      .carousel-control-prev {
        transform: translateX(-76px);
        opacity: 1;
        .carousel-control-prev-icon {
            background-color: #FFF;
            border-radius: 50%;
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 3px 3px 1px #2020200D;
            img {
                transform: rotateZ(180deg)
            }
        }

      }
      .carousel-control-next{
        transform: translateX(76px);
        opacity: 1;
        .carousel-control-next-icon {
            background-color: #FFF;
            opacity: 1;
            border-radius: 50%;
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 3px 3px 1px #2020200D;

        }
    }
    }
}