.home-page {
    h1 {
        font-size: 24px;
        font-weight: 600;
    }
    .carousel {
      .carousel-control-prev {
        transform: translateX(-60px);
        .carousel-control-prev-icon {
            background-color: #FFF;
            border-radius: 50%;
        }

      }
      .carousel-control-next{
        transform: translateX(60px);
    }
    }
}